<!DOCTYPE html>
<html lang="en">

<html lang="en-US" ng-app="TIYChatApp">
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../static/js/tiy-ng-controller.js"> </script>
<script src="js/tiy-ng-controller.js"></script>


<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>

<button type="submit">Get My Messages</button>

<br><br>

<form action="/add-message" method="post">
    <input type="text" placeholder="Text" name="messageText"/>
</form>





</body>
</html>