<!DOCTYPE html>
<html lang="en">

<html lang="en-US" ng-app="TIYChatApp">
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../static/js/tiy-ng-controller.js"> </script>
<script src="js/tiy-ng-controller.js"></script>

<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->
<head>
    <title>Welcome to the chat... </title>
</head>
We will hopefully be chatting in a minute....

<body>

<div>
    <h4> Please input your message below </h4>
    <span>Message: <input type="text" ng-model="message"/></span>
    <span> <input type="button" ng-click="getMessages(message)" value="Let's add your message"/></span>

</div>



</body>
</html>