<!DOCTYPE html>

<html lang="en-US" ng-app="TIYChatApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../static/js/tiy-ng-controller.js"> </script>
<script src="js/tiy-ng-controller.js"></script>

<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->
<head>
    <title>Welcome to home... </title>
</head>
We will hopefully be chatting in a minute....

<body ng-controller="SampleController">


<%^user%>
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName" required/>
    <button type="submit">Login</button>
</form>
<%/user%>


</body>
</html>